{% extends 'base.html' %}

{% block title %}Topps{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-8">
                <img src="https://toppscerttest.blob.core.windows.net/images/ToppsLogo"/>
                <h2><a href="../accounts/login"> Login Please</a></h2>
            </div>
            <div class="col-xs-4 image-splash-container">
                <div class="image-splash-overflow">
                    <img class="image-splash" src="https://toppscerttest.blob.core.windows.net/images/toppsWorker.jpg" height="100%" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}